.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

header {
  height: 50px;
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.button-board,
.circle-container {
  display: flex;
  margin: 2vw;
  padding: 15px;
  width: 20vw;
  height: 30vh;
  border-radius: 8px;

  align-items: center;
}

.button-board {
  flex-direction: column;
  border: 3px solid purple;
  justify-content: space-around;
}
.circle-container {
  flex-wrap: wrap;
  border: 3px solid green;
  justify-content: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid green;
  border-radius: 50%;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
  color: white;
}

button {
  text-transform: uppercase;
  border-radius: 5px;
  background-color: purple;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

button:focus {
  border: 3px solid purple;
  background-color: white;
  color: purple;
  outline: none;
}
